/lab_01/ServletsJSPJSTL/nbproject/private/
/lab_01/ServletsJSPJSTL/build/
/lab_01/ServletsJSPJSTL/dist/
/lab_02/JSFLab/target/
/lab_03/PrimeFaces/target/
/lab_04/Requests/target/
/lab_05/MDBLab/nbproject/private/
/lab_05/MDBLab/MDBLab-war/nbproject/private/
/lab_05/MDBLab/MDBLab-ejb/nbproject/private/
/lab_05/MDBLab/MDBLab-ejb/build/
/lab_05/MDBLab/MDBLab-ejb/dist/
/lab_05/MDBLab/MDBLab-war/build/
/lab_05/MDBLab/build/
/lab_05/MDBLab/MDBLab-war/dist/
/lab_05/MDBLab/dist/
/lab_06/bookings/target/
/lab_07/Complaints/target/
/lab_07/ComplaintsClient/target/
